<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecaster Results</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="navbar bg-base-100">
        <a class="btn btn-ghost text-xl">Foecaster</a>
    </div>
    <div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div method="POST" class="max-w-md" action="{% url 'predict' %}">
            <h1 class="mb-5 text-5xl font-bold brightness-150 contrast-150">Temperature and Humidity Forecaster</h1>
            <p class="mb-5 brightness-125 contrast-125">{{ message }}</p>
            <p class="mb-5 brightness-125 contrast-125">{{ datetime }}</p>
            <p class="mb-5 brightness-125 contrast-125">{{ temp }}°C | {{ humi }}%</p>
            <a class="btn btn-primary" href="{% url 'index' %}">Go back</a>
          </div>
        </div>
    </div>
</body>
</html>